/* Absolute Center Spinner */
.loading_full_site {
    position: fixed;
    z-index: 99999999;
    height: 2em;
    width: 2em;
    overflow:visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

/* Transparent Overlay */
.loading_full_site:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}
